# file-exclusions
*.o
*.pyc
*.pyo
*.swp
*.swo
*.so
*.a
*.ini
*.log

# folder-exclusions
build/
tmp/
.vscode/

# dependencies-exclusions
ext/imgui*
ext/spdlog*
ext/pybind11*
ext/tiny_math*

# compressed files
*.zip
*.rar
