include *.txt
include LICENSE
recursive-include python/tinyrenderer *.cpp
recursive-include python/tinyrenderer *.h
recursive-include python/tinyrenderer *.py
recursive-include python/tinyrenderer *.txt
recursive-include examples *.cpp
recursive-include examples *.glsl
recursive-include examples *.py
recursive-include examples *.txt
recursive-include include *.h
recursive-include res *.glsl
recursive-include res *.jpg
recursive-include res *.mtl
recursive-include res *.obj
recursive-include res *.png
recursive-include res *.stl
recursive-include res *.tga
recursive-include res *.txt
recursive-include scripts *.sh
recursive-include src *.cpp
recursive-include ext *.txt
recursive-include ext/pybind11/include/pybind11/ *.h
recursive-include ext/pybind11/tools/ *.cmake
recursive-include ext/spdlog/cmake/ *.cmake
recursive-include ext/spdlog/cmake/ *.in
recursive-include ext/spdlog/include/ *.h
recursive-include ext/spdlog/src/ *.cpp
recursive-include ext/imgui/ *.h
recursive-include ext/imgui/ *.cpp
recursive-include ext/imgui/ *.txt
recursive-include ext/glad/ *.h
recursive-include ext/glad/ *.c
recursive-include ext/stb/ *.h
recursive-include ext/tiny_math/ *.h
recursive-include ext/tiny_math/ *.hpp
recursive-include ext/tiny_math/ *.cpp
recursive-include ext/tiny_math/ *.txt