name: ci-linux

on:
  push:
  pull_request:
    branches:
      - main
      - dev

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        compiler: [gcc, clang]
        build-type: [Release, Debug]

    name: "Build: ${{matrix.os}} • ${{matrix.build-type}} • ${{matrix.compiler}}"
    runs-on: ${{matrix.os}}

    steps:
    - uses: actions/checkout@v3
    - name: Install dependencies
      run: |
          sudo apt update
          sudo apt install libxrandr-dev libxinerama-dev libxcursor-dev libxi-dev libxext-dev
          sudo apt install mesa-common-dev libgl1-mesa-dev libglu1-mesa-dev

    - name: Update CMake
      uses: jwlawson/actions-setup-cmake@v1.10

    - if: ${{ matrix.compiler == 'gcc' }}
      name: Configure GNU/GCC as C/C++ compiler
      run: |
        echo "Choosing GNU/GCC as compiler"
        echo "CC=gcc" >> $GITHUB_ENV
        echo "CXX=g++" >> $GITHUB_ENV

    - if: ${{ matrix.compiler == 'clang' }}
      name: Configure LLVM/Clang as C/C++ compiler
      run: |
        echo "Choosing LLVM/Clang as compiler"
        echo "CC=clang" >> $GITHUB_ENV
        echo "CXX=clang++" >> $GITHUB_ENV

    - name: Configure CMake
      run: cmake -S . -B build -DCMAKE_BUILD_TYPE=${{matrix.build-type}}

    - name: Build C++ Project
      run: cmake --build build --config ${{matrix.build-type}}
